@page "/imageslist"
@using MedImagesClient.Models;
@using Newtonsoft.Json;
@inject HttpClient Http
@inject IJSRuntime JS

<PageTitle>Medical Images</PageTitle>

<h1>Medical Images</h1>

@if (images == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button class="btn btn-warning" @onclick="DownloadZip">Download Images</button>
    <button class="btn btn-danger" @onclick="OpenDelete">Delete Images</button>
    @*<a class="btn" href="http://127.0.0.1:8000/downloadzip/?filename=images.zip" download="images.zip"
       role="button" target="=_top">download</a>*@
    @if(error != null)
    {
        <span class="text-danger">@error</span>
    }
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Type</th>
                <th>Description</th>
                <th>GroupName</th>
                <th>MetaData</th>
                <th>Miniature</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var image in images)
            {
                <tr>
                    <td><input @onchange="() => CheckItem(image.Id)" class="form-check-input" type="checkbox" value=""></td>
                    <td>@image.Title</td>
                    <td>@image.Type</td>
                    <td>@image.Description</td>
                    <td>@image.GroupName</td>
                    <td><button @onclick="() => OpenMetadata(image.Metadata)">Show metadata</button></td>
                    <td><img src="@string.Format("http://127.0.0.1:8000/showimage/?id={0}",image.Id)" width="200" height="200" /></td>
                </tr>
            }
        </tbody>
    </table>
}
<div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Metadata</h5>
                <button type="button" class="close" @onclick="() => CloseMetadata()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" >
                @if (ModalText != null)
                {
                    foreach(var line in ModalText)
                    {
                        <p>@line</p>
                    }
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => CloseMetadata()">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal @DeleteModalClass" tabindex="-1" role="dialog" style="display:@DeleteModalDisplay">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you Sure?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => DeleteImage()">Yes, Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => CloseDelete()">Go back</button>
            </div>
        </div>
    </div>
</div>

@code {
    private List<ImageData>? images;
    private List<int> checkedItems = new();
    public string ModalDisplay = "none;";
    public string ModalClass = "";
    public string DeleteModalDisplay = "none;";
    public string DeleteModalClass = "";
    public string[]? ModalText = null;
    public bool ShowBackdrop = false;
    public bool DeleteShowBackdrop = false;
    private string? error = null;

    public void OpenMetadata(string metadata)
    {
        var modalbody = metadata.Split("\n");
        ModalDisplay = "block;";
        ModalClass = "Show";
        ModalText = modalbody;
        ShowBackdrop = true;
        StateHasChanged();
    }

    public void OpenDelete()
    {
        DeleteModalDisplay = "block;";
        DeleteModalClass = "Show";
        DeleteShowBackdrop = true;
        StateHasChanged();
    }

    public void CheckItem(int id)
    {
        if(checkedItems.Contains(id))
        {
            checkedItems.Remove(id);
        } else
        {
            checkedItems.Add(id);
        }
    }

    public void CloseMetadata()
    {
        ModalDisplay = "none";
        ModalClass = "";
        ModalText = null;
        ShowBackdrop = false;
        StateHasChanged();
    }

    public void CloseDelete()
    {
        DeleteModalDisplay = "none";
        DeleteModalClass = "";
        DeleteShowBackdrop = false;
        StateHasChanged();
    }

    private async Task DownloadZip()
    {
        if(checkedItems.Count == 0)
        {
            error = "Please check some images for download";
            return;
        } else
        {
            error = null;
        }

        var response = await Http.PostAsJsonAsync("http://127.0.0.1:8000/downloadimages/", checkedItems);
        var filename = await response.Content.ReadAsStringAsync();
        string url = string.Format("http://127.0.0.1:8000/downloadzip/?filename={0}", filename.Substring(1,filename.Length-2));

        await JS.InvokeVoidAsync("blazorDownloadFile", "images.zip", url);
    }

    private async Task DeleteImage()
    {
        if(checkedItems.Count != 0)
        {
            var response = await Http.PostAsJsonAsync("http://127.0.0.1:8000/deleteimages/", checkedItems);
            CloseDelete();
            images = await Http.GetFromJsonAsync<List<ImageData>>("http://127.0.0.1:8000/getimages/");
            checkedItems = new();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        images = await Http.GetFromJsonAsync<List<ImageData>>("http://127.0.0.1:8000/getimages/");
    }
}